.example {
  background-color: indigo;
}
/*******************************
 * Eggplant.jsx
 ******************************/
.true-center {
  display: grid;
  place-items: center;
  height: 10rem;
  font-size: 3rem;
}

/*******************************
 * TicTacToe.jsx
 ******************************/
.tic-tac-toe {
  display: grid;
  height: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.tic-tac-toe div {
  background-color: darkred;

  display: grid;
  place-items: center;
}

/*******************************
 * RepeatedMultipleTracks.jsx
 ******************************/
.multiple-tracks {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  gap: 0.5rem;
}

.multiple-tracks div {
  display: grid;
  place-items: center;

  background-color: mediumturquoise;
  color: black;
  height: 100px;
}

/*******************************
 * MixedColumns.jsx
 ******************************/
.mixed-columns {
  display: grid;
  grid-template-columns: 100px 25% 1fr 2fr;
  gap: 1rem;
}

.mixed-columns div {
  display: grid;
  place-items: center;
  background-color: darkslategray;
  height: 100px;
}

/*******************************
 * Sidebar.jsx
 ******************************/
.sidebar {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.sidebar nav,
.sidebar article {
  padding: 1.5rem;
  min-height: 400px;
}

.sidebar nav {
  background-color: darkgreen;
}

.sidebar article {
  background-color: palevioletred;
}

/*******************************
 * Pancake.jsx
 ******************************/
.pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.pancake > * {
  padding: 0.5rem;
}

.pancake header {
  background-color: blue;
}

.pancake div {
  background-color: orchid;
}

.pancake footer {
  background-color: limegreen;
}

/*******************************
 * VisualLines.jsx
 ******************************/
.track-wrapper {
  padding: 1rem;
}

.view-tracks {
  min-height: 600px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;

  background-color: forestgreen;
}

.view-tracks > * {
  display: grid;
  place-items: center;
}

.m-blue {
  background-color: midnightblue;

  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

.purple {
  background-color: purple;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.l-blush {
  background-color: lavenderblush;
  color: black;

  /* COMBINED SYNTAX: <start-line> <end-line> */
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.g-rod {
  background-color: goldenrod;
  color: black;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.l-pink {
  background-color: lightpink;
  color: black;

  /* USING SPANS */
  grid-column: span 4;
  grid-row: 3 / span 2;
}

/*******************************
 * SpansOnly.jsx
 ******************************/

.spans-only {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  height: 600px;
}

.skinny {
  background-color: royalblue;
  color: black;
  grid-column: span 1;
  grid-row: span 2;
}

.thicc {
  background-color: darkcyan;
  grid-column: span 2;
  grid-row: span 2;
}
