.example {
  background-color: indigo;
}
/*******************************
 * Eggplant.jsx
 ******************************/
.true-center {
  display: grid;
  place-items: center;
  height: 10rem;
  font-size: 3rem;
}

/*******************************
 * TicTacToe.jsx
 ******************************/
.tic-tac-toe {
  display: grid;
  height: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.tic-tac-toe div {
  background-color: darkred;

  display: grid;
  place-items: center;
}

/*******************************
 * RepeatedMultipleTracks.jsx
 ******************************/
.multiple-tracks {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  gap: 0.5rem;
}

.multiple-tracks div {
  display: grid;
  place-items: center;

  background-color: mediumturquoise;
  color: black;
  height: 100px;
}

/*******************************
 * MixedColumns.jsx
 ******************************/
.mixed-columns {
  display: grid;
  grid-template-columns: 100px 25% 1fr 2fr;
  gap: 1rem;
}

.mixed-columns div {
  display: grid;
  place-items: center;
  background-color: darkslategray;
  height: 100px;
}

/*******************************
 * Sidebar.jsx
 ******************************/
.sidebar {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.sidebar nav,
.sidebar article {
  padding: 1.5rem;
  min-height: 400px;
}

.sidebar nav {
  background-color: darkgreen;
}

.sidebar article {
  background-color: palevioletred;
}

/*******************************
 * Pancake.jsx
 ******************************/
.pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.pancake > * {
  padding: 0.5rem;
}

.pancake header {
  background-color: blue;
}

.pancake div {
  background-color: orchid;
}

.pancake footer {
  background-color: limegreen;
}

/*******************************
 * VisualLines.jsx
 ******************************/
.track-wrapper {
  padding: 1rem;
}

.view-tracks {
  min-height: 600px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;

  background-color: forestgreen;
}

.view-tracks > * {
  display: grid;
  place-items: center;
}

.m-blue {
  background-color: midnightblue;

  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

.purple {
  background-color: purple;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.l-blush {
  background-color: lavenderblush;
  color: black;

  /* COMBINED SYNTAX: <start-line> <end-line> */
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.g-rod {
  background-color: goldenrod;
  color: black;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.l-pink {
  background-color: lightpink;
  color: black;

  /* USING SPANS */
  grid-column: span 4;
  grid-row: 3 / span 2;
}

/*******************************
 * SpansOnly.jsx
 ******************************/

.spans-only {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: row;
  height: 600px;
}

.spans-only div {
  display: grid;
  place-items: center;
}

.skinny {
  background-color: royalblue;
  color: black;
  grid-column: span 1;
  grid-row: span 2;
}

.thicc {
  background-color: darkcyan;
  grid-column: span 2;
  grid-row: span 2;
}

/*******************************
* SingleLineNames.jsx
******************************/

/* .single-line-name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 500px;
  gap: 0.5rem;
}

.single-line-name div {
  background-color: black;
}

div.special {
  background-color: springgreen;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
} */

.single-line-name {
  display: grid;
  grid-template-columns: repeat(5, [c-start] 1fr [c-end]);
  grid-template-rows: repeat(5, [r-start] 1fr [r-end]);
  height: 1000px;
  gap: 0.5rem;
}

.single-line-name div {
  background-color: black;
}

div.special {
  background-color: springgreen;
  grid-column: c-start 2 / c-end 4;
  grid-row: r-start 2 / r-end 4;
}

/*******************************
* GridAreaNames.jsx
******************************/
.grid-area-names {
  display: grid;
  height: 600px;
  grid-template-areas:
    "....    header  header"
    "content content sidebar"
    "footer  footer  footer";
  grid-template-columns: 1fr 1fr 200px;
  grid-template-rows: auto 1fr 50px;
  gap: 0.5rem;

  /* header 3 across
  content 2 > sidebar 1
  footer 3 */
}
.grid-area-names div {
  display: grid;
  place-items: center;
}

.area-header {
  border: 2px solid pink;
  grid-area: header;
}

.area-content {
  border: 2px solid khaki;
  grid-area: content;
}

.area-sidebar {
  border: 2px solid teal;
  grid-area: sidebar;
}

.area-footer {
  border: 2px solid crimson;
  grid-area: footer;
}

/*******************************
* ImplicitGridAreas.jsx
******************************/
.implicit-names {
  height: 400px;
  display: grid;
  grid-template-columns: [c-start] 1fr [d-start] 1fr [d-end] 1fr [c-end];
  grid-template-rows: [a-start] 1fr [b-start] 1fr [b-end] 1fr [a-end];
  gap: 1rem;
}

.implicit-names div {
  display: grid;
  place-items: center;
  background-color: silver;
}

div.implicit-area {
  background-color: green;
  grid-area: b / d;
}

/*******************************
* ImplicitLineNames.jsx
******************************/
.explicit-name-areas {
  display: grid;
  grid-template-areas:
    "header  header"
    "content sidebar"
    "footer  footer";
  grid-template-rows: 5rem 1fr 3rem;
  grid-template-columns: 1fr 10rem;
  gap: 2rem;
}

.implicit-header {
  background-color: palegreen;
  color: black;
  grid-row: header-start / content-end;
  grid-column: header-start / header-end;
}

.implicit-content {
  background-color: cadetblue;
  grid-row: content-start / content-end;
  grid-column: content-start / content-end;
}

.implicit-sidebar {
  background-color: mediumvioletred;
  grid-row: sidebar-start / sidebar-end;
  grid-column: sidebar-start / sidebar-end;
}

.implicit-footer {
  background-color: mediumpurple;
  grid-row: footer-start / footer-end;
  grid-column: footer-start / footer-end;
}
